# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Azure Functions
bin/
obj/
appsettings.json
local.settings.json
__blobstorage__/
__queuestorage__/
__azurite_db*__.json
.python_packages/

# Testing & Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/
.nox/
.cache/

# IDE & Editor
.vscode/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Package management
Pipfile.lock

# Type checking
.mypy_cache/
.pyre/
